body{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg);
    background-size: cover;
    color: blue;
}

#fact1{
    color: red;
}

#source1{
    color: purple;
}

#fact2{
    color:red;
}

#source2{
    color: purple;
}

#fact3{
    color:red;
}

#source3{
    color: purple;
}

#fact4{
    color:red;
}

#source4{
    color: purple;
}

#fact5{
    color:red;
}

#source5{
    color: purple;
}